
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<h1>Tournamentz</h1>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<md-tab-group>
	  		<md-tab label="Teams & Groups"><app-team></app-team></md-tab>
	  		<md-tab label="Schedule"><a href="#team">Schedule</a></md-tab>
	  		<md-tab label="Tournament"><a href="#team">Tournament</a></md-tab>
	  		<md-tab label="Reports"><a href="#team">Reports</a></md-tab>
		</md-tab-group>
	</nav>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">
			&copy; Dahausa 2017. Made with angular
		</p>
	</footer>

</div>

