
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<h1>Tournamentz</h1>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="#team" class="active">Teams</a></li>
			<li><a href="#first">Schedule</a></li>
			<li><a href="#second">Tournament</a></li>
			<li><a href="#cta">Reports</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">

		<!-- First Section -->
		<section id="team">
			<app-team></app-team>
		</section>


	</div>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">
			&copy; Dahausa 2017. Made with angular
		</p>
	</footer>

</div>

